.add-container {
    padding: 20px;

    input {
        height: 2em;
        width: 800px;
        margin-right: 30px;
        font-size: 1em;
    }

    button {
        font-size: 1em;
        height: 2.5em;
        width: 100px;
        margin-right: 10px;        
    }
}