.music-item {
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    border-bottom: 1px solid black;
    position: relative;

    .play-icon {
        position: absolute;
        top: 0.5em;
        font-size: 1.5em;
    }

    .music-title {
        position: absolute;
        margin-left: 50px
    }
}